html {
  font-size: 18px;
}

.header {
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../../images/Banner/IBSS Banner.png");
}

.ibss-identifiers {
  display: flex;
  align-items: center;
  padding-top: 3%;
  margin-left: 20%;
  /* border: 1px solid red; */
}

#logo-pic {
  width: 5rem;
  height: 5rem;
}

#logo-name {
  margin-left: 0.5%;
  font-family: "Work Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
}

.introduction {
  /* border: 1px solid red; */
  font-family: "Work Sans", sans-serif;
  text-align: center;
  color: white;
}

.wel-to {
  margin: 7% 0 0 0;
  /* border: 1px solid red; */
  font-size: 1.3rem;
  font-weight: 500;
}

.isbass {
  /* border: 1px solid red; */
  display: inline-block;
  margin: 2% 0 9% 0;
  width: 60%;
  font-size: 1.8rem;
  font-weight: 700;
}

.sec-div {
  /* border: 1px solid red; */
  width: 70%;
  margin-left: 15%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.light-blue-background {
  background: #f3f5f8;
}

.sec-heading {
  /* border: 1px solid red; */
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #1648a1;
}

.sec-content {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.text-content-font {
  /* border: 1px solid red; */
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #6e777d;
}

.text-content-img {
  /* border: 1px solid red; */
  margin-left: 1.5rem;
}

.why-join-us img {
  width: 50%;
  margin-bottom: 2%;
}

.recent-photos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recent-photos img {
  width: 22.5%;
  margin-top: 1rem;
}
