nav {
  width: 60%;
  margin-left: 20%;
  border: 1px solid red;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline;
  list-style-type: none;
  color: white;
}
