.ibss-identifiers {
  display: flex;
  align-items: center;
  padding-top: 3%;
  margin-left: 15%;
  /* border: 1px solid red; */
}

#logo-pic {
  width: 5rem;
  height: 5rem;
}

#logo-name {
  margin-left: 0.5%;
  font-family: "Work Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
}

nav {
  width: 70%;
  margin-left: 15%;
  /* border: 1px solid red; */
}

nav ul {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding: 2% 0 0 0;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

nav li {
  list-style-type: none;
  display: inline;
}

nav li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.separator {
  padding-left: 2%;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.subtitles {
  margin: 3% 0 0 0;
  text-transform: none;
  color: white;
  opacity: 0.6;
}
