ul {
  /* border: 1px solid red; */
  padding: 0;
  margin: 1.5rem 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

.social-link {
  padding: 0 3rem;
}

li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.divider {
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}

@media only screen and (max-width: 768px) {
  .social-link {
    padding: 0 1rem;
  }
}
